#!/bin/sh

# A kubernetes pod's A record uses the pod's IP with dots replaced with dashes
export POD_A_RECORD=$(echo $K8S_POD_IP | sed 's/\./-/g')
# Mark our release as 'distributed' by setting value to 'name'
export RELEASE_DISTRIBUTION=name
# This is the kubernetes cluster's internal DNS for this pod
export RELEASE_NODE=<%= @release.name %>@${POD_A_RECORD}.${K8S_NAMESPACE}.pod.cluster.local